.thead, .thead * {
  background-color: #2E4A62 !important;
  color: white !important;
  font-weight: bold !important;
}

* {
  color: #2E4A62 !important;
  font-size: 3.5vh;
}

#dona {
  border-color: #B1E1F5;
  border-width: medium;
}

.pad {
  padding: 20px;
}

#esci {
  color: white !important;
}
/* Fine css */
