.row {
  flex-wrap: nowrap !important;
}
.thead {
  font-weight: bold;
  background-color: DodgerBlue; 
  color: white;
}
.info {
  background-color: transparent;
  color: #F2552C;
  cursor: default !important;
}
.colRed { color: red }
.colBlue { color: blue }
.colGreen { color: green }
.colYellow { color: yellow }
.colOrange { color: DarkOrange }
.colViolet { color: violet }
.colBrown { color: brown }
.colBlack { color: black }
/* Fine css */